doctype html
html(lang="en")
  head
    title Smarty &mdash; The most efficient way to learn anything
    link(rel="stylesheet" href="/css/main.css")

    meta(name="viewport" content="initial-scale=1,minimum-scale=1,width=device-width")
  body
    != yield
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="/js/main.js")
