main
  .container
    article
      .content.col12
        h1#logo Smarty
        p.
          Ever wondered if there&rsquo;s a <strong>smarter</strong> way to learn? Created to leverage the latest
          <strong>cognitive science</strong> research in memory and learning, Smarty helps you learn <strong>quicker</strong> and
          <strong>deeper</strong> with <strong>long-term retention</strong>.
        p.
          Built to take advantage of techniques like <strong>distributed practice</strong> and <strong>interleaving</strong>,
          Smarty is<br/>like a <strong>supercharger</strong> for your brain.

        section#signup
          p
            strong Reserve your place for early access.
          form(method="POST" action="/" id="signup-form")
            input(placeholder="Enter your email address" type="text" name="email" autofocus)
            button Submit

        section#thank-you
          p
            strong Thanks! We&rsquo;ll be reaching back out to you soon.

footer
  p Handcrafted with care, by the Smarty team.
